appdirs==1.4.4
asgiref==3.3.1
beautifulsoup4==4.9.3
bs4==0.0.1
CacheControl==0.12.6
cachy==0.3.0
certifi==2020.12.5
chardet==4.0.0
cleo==0.8.1
click==7.1.2
clikit==0.6.2
crashtest==0.3.1
decorator==4.4.2
distlib==0.3.1
Django==3.1.5
django-cors-headers==3.7.0
django-crispy-forms==1.11.0
django-environ==0.4.5
django-js-asset==1.2.2
django-mptt==0.12.0
djangorestframework==3.12.2
environ==1.0
filelock==3.0.12
flake8==3.8.4
future==0.18.2
geocoder==1.38.1
html5lib==1.1
idna==2.10
keyring==21.8.0
lockfile==0.12.2
lxml==4.6.2
mccabe==0.6.1
msgpack==1.0.2
npm==0.1.1
optional-django==0.1.0
packaging==20.9
pastel==0.2.1
pexpect==4.8.0
Pillow==8.1.0
pkginfo==1.7.0
poetry==1.1.6
poetry-core==1.0.3
ptyprocess==0.7.0
pyflakes==2.2.0
pylev==1.3.0
pyparsing==2.4.7
pytz==2020.5
ratelim==0.1.6
requests==2.25.1
requests-toolbelt==0.9.1
shellingham==1.4.0
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
tomlkit==0.7.0
urllib3==1.26.2
virtualenv==20.4.4
webencodings==0.5.1
