
<h1>Brew Type List</h1>
<!--All beer beneath referenced from https://www.webstaurantstore.com/article/27/different-types-of-beers.html -->
<!-- Pictures of beer coming next week during styling -->

<h2>Different Styles and Varieties of Beer</h2>


<h3>Types of Pale Lagers and Pilsners</h3>

<ul><a href ='#'><img src="../templates/static/images/amber_american_lager.jpg" alt="american_lager"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/german_helles.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/cech or bohemian pilsner.JPG"></a></ul>
<hr>

<h3>Types of Dark Lagers</h3>
<ul><a href ='#'><img src="../templates/static/images/amber_american_lager.jpg"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/oktoberfest.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/german_schwarzbier.JPG"></a></ul> 
<ul><a href ='#'><img src="../templates/static/images/vienna_lager.JPG"></a></ul>
<hr>

<h3>Types of German Bocks</h3>
<ul><a href ='#'><img src="../templates/static/images/traditional_bock.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/doppelbock.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/weizenbock.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/maibock.JPG"></a></ul>
<hr>

<h3>Types of Brown Ales</h3>
<ul><a href ='#'><img src="../templates/static/images/american_brown_ale.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/english_brown_ale.JPG"></a></ul>
<hr>

<h3>Types of Pale Ales</h3>
<ul><a href ='#'><img src="../templates/static/images/american_amber_ale.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/american_pale_ale.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/blonde_ale.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/english_bitter.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/english_pale_ale.JPG"></a></ul>
<hr>

<h3>Types of India Pale Ales (IPAs)</h3>
<ul><a href ='#'><img src="../templates/static/images/american_ipa.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/imperial_or_double_ipa.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/english_ipa.JPG"></a></ul>
<hr>

<h3>Types of Porters</h3>
<ul><a href ='#'><img src="../templates/static/images/american_imperial_porter.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/english_brown_porter.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/robust_porter.JPG"></a></ul>
<hr>

<h3>Types of Stouts</h3>
<ul><a href ='#'><img src="../templates/static/images/american_stout.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/american_imperial_stout.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/oatmeal_stout.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/milk_stout.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/irish_dry_stout.JPG"></a></ul>
<hr>

<h3>Types of Belgian Styles</h3>
<ul><a href ='#'><img src="../templates/static/images/belgian_pale_ale.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/belgian_dubbel.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/belgian_tripel.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/belgian_quadrupel.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/belgian_strong_dark_ale.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/belgian_saison.JPG"></a></ul>
<hr>

<h3>Types of Wheat Beers</h3>
<ul><a href ='#'><img src="../templates/static/images/american_pale_wheat.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/belgian_witbier.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/berliner_weisse.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/dunkelweizen.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/hefeweizen.JPG"></a></ul>
<hr>

<h3>Types of Wild & Sour Ales</h3>
<ul><a href ='#'><img src="../templates/static/images/american_sour.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/belgian_fruit_lambic.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/flander_red_ale.JPG"></a></ul>
<ul><a href ='#'><img src="../templates/static/images/belgian_gueuze.JPG"></a></ul>
<hr>

<h3>Types of Specialty Beers</h3>
<ul><a href =''>American Black Ale</a></ul>
<ul><a href =''>Barrel-Aged Beer</a></ul>
<ul><a href =''>Chocolate Beer</a></ul>
<ul><a href =''>Coffee Beer</a></ul>
<ul><a href =''>Fruit and Vegetable Beer</a></ul>
<ul><a href =''>Gluten Free Beer</a></ul>
<ul><a href =''>Herb and Spice Beer</a></ul>
<ul><a href =''>Honey Beer</a></ul>
<ul><a href =''>Pumpkin Beer</a></ul>
<ul><a href =''>Rye Beer</a></ul>
<ul><a href =''>Session Beer</a></ul>
<ul><a href =''>Smoke Beer</a></ul>
<hr>

{% endblock %}



