<h1>Brew Type List</h1>
<!--All beer beneath referenced from https://www.webstaurantstore.com/article/27/different-types-of-beers.html -->
<!-- Pictures of beer coming next week during styling -->

<h2>Different Styles and Varieties of Beer</h2>


<h3>Types of Pale Lagers and Pilsners</h3>

<ul><a href =''>American Lager</a></ul>
<ul><a href =''>German Helles</a></ul>
<ul><a href =''>German Pilsner</a></ul>
<ul><a href =''>Czech or Bohemian Pilsner</a></ul>

<hr>

<h3>Types of Dark Lagers</h3>
<ul><a href =''>Amber American Lager</a></ul>
<ul><a href =''>Oktoberfest</a></ul>
<ul><a href =''>German Schwarzbier</a></ul>
<ul><a href =''>Vienna Lager</a></ul>
<hr>

<h3>Types of German Bocks</h3>
<ul><a href =''>Traditional Bock</a></ul>
<ul><a href =''>Doppelbock</a></ul>
<ul><a href =''>Weizenbock</a></ul>
<ul><a href =''>Maibock</a></ul>
<hr>

<h3>Types of Brown Ales</h3>
<ul><a href =''>American Brown Ale</a></ul>
<ul><a href =''>English Brown Ale</a></ul>
<hr>

<h3>Types of Pale Ales</h3>
<ul><a href =''>American Amber Ale</a></ul>
<ul><a href =''>American Pale Ale</a></ul>
<ul><a href =''>Blonde Ale</a></ul>
<ul><a href =''>English Bitter</a></ul>
<ul><a href =''>English Pale Ale</a></ul>
<hr>

<h3>Types of India Pale Ales (IPAs)</h3>
<ul><a href =''>American IPA</a></ul>
<ul><a href =''>Imperial or Double IPA</a></ul>
<ul><a href =''>English IPA</a></ul>
<hr>

<h3>Types of Porters</h3>
<ul><a href =''>American Imperial Porter</a></ul>
<ul><a href =''>English Brown Porter</a></ul>
<ul><a href =''>Robust Porter</a></ul>
<hr>

<h3>Types of Stouts</h3>
<ul><a href =''>American Stout</a></ul>
<ul><a href =''>American Imperial Stout</a></ul>
<ul><a href =''>Oatmeal Stout</a></ul>
<ul><a href =''>Milk Stout</a></ul>
<ul><a href =''>Irish Dry Stout</a></ul>
<hr>

<h3>Types of Belgian Styles</h3>
<ul><a href =''>Belgian Pale Ale</a></ul>
<ul><a href =''>Belgian Dubbel</a></ul>
<ul><a href =''>Belgian Tripel</a></ul>
<ul><a href =''>Belgian Quadrupel</a></ul>
<ul><a href =''>Belgian Strong Dark Ale</a></ul>
<ul><a href =''>Belgian Saison</a></ul>
<hr>

<h3>Types of Wheat Beers</h3>
<ul><a href =''>American Pale Wheat</a></ul>
<ul><a href =''>Belgian Witbier</a></ul>
<ul><a href =''>Berliner Weisse</a></ul>
<ul><a href =''>Dunkelweizen</a></ul>
<ul><a href =''>Hefeweizen</a></ul>
<hr>

<h3>Types of Wild & Sour Ales</h3>
<ul><a href =''>American Sour</a></ul>
<ul><a href =''>Belgian Fruit Lambic</a></ul>
<ul><a href =''>Flanders Red Ale</a></ul>
<ul><a href =''>Belgian Gueuze</a></ul>
<hr>

<h3>Types of Specialty Beers</h3>
<ul><a href =''>American Black Ale</a></ul>
<ul><a href =''>Barrel-Aged Beer</a></ul>
<ul><a href =''>Chocolate Beer</a></ul>
<ul><a href =''>Coffee Beer</a></ul>
<ul><a href =''>Fruit and Vegetable Beer</a></ul>
<ul><a href =''>Gluten Free Beer</a></ul>
<ul><a href =''>Herb and Spice Beer</a></ul>
<ul><a href =''>Honey Beer</a></ul>
<ul><a href =''>Pumpkin Beer</a></ul>
<ul><a href =''>Rye Beer</a></ul>
<ul><a href =''>Session Beer</a></ul>
<ul><a href =''>Smoke Beer</a></ul>
<hr>


