{% extends 'base.html' %} {% block content %}

{% load static %}
<div class =brew_type_list_title_centering>

<h1>Brew Type List</h1>
<!--All beer beneath referenced from https://www.webstaurantstore.com/article/27/different-types-of-beers.html -->
<!-- Pictures of beer coming next week during styling -->
</div>

<div class =brew_type_list_title_centering>
<h2>Different Styles and Varieties of Beer</h2>
</div>

<div class =brew_type_list_title_centering>
<h3>Types of Pale Lagers and Pilsners</h3>
</div>
&nbsp;

{% if request.user %}

<div class=brew_type_list_spacing>
<ul><img src="{% static "images/7.JPG" %}"></ul>
<div class=brew_type_list_paragraph_centering>
<p>American Amber Lager features prevalent malt flavors with varying levels of hoppiness. This beer is also characterized by a darker color, caramel aroma, and smooth taste.</p>
<h2>ABV: 4.8-5.4% IBU: 18-30</h2>
<a href="/followingbrewtypes/7/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/7/" class="btn button-menu">Remove as Favorite</a></div></div>


<div class=brew_type_list_spacing>
<ul><img src= "{% static "images/8.JPG" %}"></ul>
<div class=brew_type_list_paragraph_centering>
<p>German helles is maltier than a traditional pilsner and features a bright gold color.</p>
<h2>ABV: 4.8-5.6% IBU:18-25</h2>
<a href="/followingbrewtypes/8/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/8/" class="btn button-menu">Remove as Favorite</a></div></div>


<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/9.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Czech or bohemian pilsner is a straw-colored beer with a noticeably bitter hop flavor. These beers can sometimes have a floral aroma.</p>
<h2>ABV: 4.1-5.1% IBU: 30-45</h2>
<a href="/followingbrewtypes/9/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/9/" class="btn button-menu">Remove as Favorite</a></div></div>

<hr>

<div class =brew_type_list_title_centering>
<h3>Types of Dark Lagers</h3>
</div>


<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/10.jpg" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Amber American lager features prevalent malt flavors with varying levels of hoppiness. This beer is also characterized by a darker color, caramel aroma, and smooth taste.</p>
<h2>ABV: 4.8-5.4% IBU: 18-30</h2>
<a href="/followingbrewtypes/10/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/10/" class="btn button-menu">Remove as Favorite</a></div></div>


<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/11.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Named for the celebration in Munich, Oktoberfest is a full-bodied beer with a rich, toasted flavor and a dark copper color.</p>
<h2>ABV: 5.1-6.0% IBU: 18-25</h2>
<a href="/followingbrewtypes/11/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/11/" class="btn button-menu">Remove as Favorite</a></div></div>


<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/12.JPG" %}"></a></ul> 
<div class=brew_type_list_paragraph_centering>
<p>Schwarzbier is a dark beer that is surprisingly light in flavor. Schwarzbiers are less malty than would be expected, but still boast a slight sweetness.</p>
<h2>ABV: 3.8-4.9% IBU: 22-30</h2>
<a href="/followingbrewtypes/12/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/12/" class="btn button-menu">Remove as Favorite</a></div></div>


<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/13.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Vienna lager is reddish in color with a sweet malty flavor. These beers boast a subtle hop flavor and crisp drinkability.</p>
<h2>ABV: 4.5-5.5% IBU: 22-28</h2>
<a href="/followingbrewtypes/13/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/13/" class="btn button-menu">Remove as Favorite</a></div></div>

</div><hr>

<div class =brew_type_list_title_centering>
<h3>Types of German Bocks</h3>
</div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/14.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>The bock is a malty, sweet beer with a toasty flavor and a dark copper color.</p>
<h2>ABV: 6.3-7.5% IBU: 20-30</h2>
<a href="/followingbrewtypes/14/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/14/" class="btn button-menu">Remove as Favorite</a></div></div>


<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/15.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Doppelbocks are stronger than the traditional style and boast a higher alcohol content and a fuller body.</p>
<h2>ABV: 6.6-7.9% IBU: 17-27</h2>
<a href="/followingbrewtypes/15/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/15/" class="btn button-menu">Remove as Favorite</a></div></div>


<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/16.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Weizenbocks are wheat bocks and can take on fruity, malty flavors.</p>
<h2>ABV: 7.0-9.5% IBU: 15-35</h2>
<a href="/followingbrewtypes/16/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/16/" class="btn button-menu">Remove as Favorite</a></div></div>


<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/17.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Maibocks are more pale and hoppy than traditional bocks, although the malt flavor is still present.</p>
<h2>ABV: 6.0-8.0% IBV: 20-38</h2>
<a href="/followingbrewtypes/17/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/17/" class="btn button-menu">Remove as Favorite</a></div></div>

</div><hr>

<div class =brew_type_list_title_centering>
<h3>Types of Brown Ales</h3>
</div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/18.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>American brown ale is a dark beer without the bitterness of porters and stouts. This style boasts a dark caramel color and a medium to full-bodied profile.</p>
<h2>ABV: 4.2-6.3% IBU: 25-45</h2>
<a href="/followingbrewtypes/18/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/18/" class="btn button-menu">Remove as Favorite</a></div></div>


<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/19.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>English brown ale features a nutty malt flavor with a caramel aroma.</p>
<h2>ABV: 4.0-5.5% IBU: 15-25</h2>
<a href="/followingbrewtypes/19/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/19/" class="btn button-menu">Remove as Favorite</a></div></div>

</div><hr>

<div class =brew_type_list_title_centering>
<h3>Types of Pale Ales</h3>
</div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/20.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>American amber ale is a malty, medium-bodied beer with a caramel flavor and amber color.</p>
<h2>ABV: 4.4-6.1% IBU: 25-45</h2>
<a href="/followingbrewtypes/20/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/20/" class="btn button-menu">Remove as Favorite</a></div></div>


<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/21.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>American pale ale is a medium-bodied beer with a noticable hop flavor and a light copper color.</p>
<h2>ABV: 4.4-5.4% IBU: 30-50</h2>
<a href="/followingbrewtypes/21/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/21/" class="btn button-menu">Remove as Favorite</a></div></div>


<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/22.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Blonde ales balance the flavors of malt and hops nicely, and they often have a fruity aroma.</p>
<h2>ABV: 4.1-5.1% IBU: 15-25</h2>
<a href="/followingbrewtypes/22/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/22/" class="btn button-menu">Remove as Favorite</a></div></div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/23.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>English bitters are named for the bitter flavor that the hops present. They have fruity flavors and lower alcohol content.</p>
<h2>ABV: 3.0-4.2% IBU: 20-35</h2>
<a href="/followingbrewtypes/23/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/23/" class="btn button-menu">Remove as Favorite</a></div></div>


<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/24.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Also known as "extra special bitters," English pale ales have a strong hop flavor that is balanced by sweet malt.</p>
<h2>ABV: 4.5-5.5% IBU: 20-40</h2>
<a href="/followingbrewtypes/24/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/24/" class="btn button-menu">Remove as Favorite</a></div></div>

</div>

<hr>

<div class =brew_type_list_title_centering>
<h3>Types of India Pale Ales (IPAs)</h3>
</div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/25.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>American IPAs have more hops, big herbal or citrus flavors, and high bitterness compared to pale ale.</p>
<h2>ABV: 6.3-7.5% IBU: 50-70</h2>
<a href="/followingbrewtypes/25/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/25/" class="btn button-menu">Remove as Favorite</a></div></div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/26.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Imperial or Double IPAs are American IPAs, but with a stronger flavor, hop bitterness, and a higher alcohol content.</p>
<h2>ABV: 7.0-14.0% IBU: 65-100</h2>
<a href="/followingbrewtypes/26/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/26/" class="btn button-menu">Remove as Favorite</a></div></div>


<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/27.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>English IPAs are similar to the American style, but with a weaker hop flavor and lower alcohol content.</p>
<h2>ABV: 5.0-7.0% IBU: 35-63</h2>
<a href="/followingbrewtypes/27/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/27/" class="btn button-menu">Remove as Favorite</a></div></div>

</div>

<hr>

<div class =brew_type_list_title_centering>
<h3>Types of Porters</h3>
</div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/28.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>American imperial porters are dark in color, but lacking in burnt malt taste. They also boast a malty sweetness.</p>
<h2>ABV: 7.0-12.0% IBU: 35-50</h2>
<a href="/followingbrewtypes/28/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/28/" class="btn button-menu">Remove as Favorite</a></div></div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/29.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>English brown porter is similar to the American style, but usually with a lower alcohol content and less malt sweetness.</p>
<h2>ABV: 4.5-6.0% IBU: 20-30</h2>
<a href="/followingbrewtypes/29/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/29/" class="btn button-menu">Remove as Favorite</a></div></div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/30.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Robust porters are stronger and more bitter than a brown porter with a subtle caramel flavor.</p>
<h2>ABV: 5.1-6.6% IBU: 25-40</h2>
<a href="/followingbrewtypes/30/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/30/" class="btn button-menu">Remove as Favorite</a></div></div>

</div>
<hr>

<div class =brew_type_list_title_centering>
<h3>Types of Stouts</h3>
</div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/31.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>American stouts feature malt flavors working to create strong chocolate and coffee notes, but without overpowering hop bitterness.</p>
<h2>ABV: 5.7-8.9% IBU: 35-60</h2>
<a href="/followingbrewtypes/31/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/31/" class="btn button-menu">Remove as Favorite</a></div></div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/32.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>American imperial stouts are strong dark beers with a malty flavor and a deep black color.</p>
<h2>ABV: 7.0-12.0% IBU: 50-80</h2>
<a href="/followingbrewtypes/32/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/32/" class="btn button-menu">Remove as Favorite</a></div></div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/33.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>As their name suggests, oatmeal stouts feature oatmeal in their malt blend. This adds smoothness and sweetness to the beer.</p>
<h2>ABV: 3.8-6.0% IBU: 20-40</h2>
<a href="/followingbrewtypes/33/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/33/" class="btn button-menu">Remove as Favorite</a></div></div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/34.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Lactose sugar adds a sweet caramel or chocolate flavor to milk stouts.</p>
<h2>ABV: 4.0-7.0% IBU: 15-25</h2>
<a href="/followingbrewtypes/34/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/34/" class="btn button-menu">Remove as Favorite</a></div></div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/35.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Irish dry stouts are dark beers; black in color with a bitterness that comes from roasted barley.</p>
<h2>ABV: 3.8-5.0% IBU: 30-40</h2>
<a href="/followingbrewtypes/35/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/35/" class="btn button-menu">Remove as Favorite</a></div></div>

</div><hr>

<div class =brew_type_list_title_centering>
<h3>Types of Belgian Styles</h3>
</div>
&nbsp;
<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/36.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Belgian pale ale contains a toasted malt flavor that is subtle enough to not overpower the taste of the hops.</p>
<h2>ABV: 4.0-6.0% IBU: 20-30</h2>
<a href="/followingbrewtypes/36/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/36/" class="btn button-menu">Remove as Favorite</a></div></div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/37.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Belgian dubbels feature rich and malty flavor with a spicy, fruity note.</p>
<h2>ABV: 6.3-7.6% IBU: 20-35</h2>
<a href="/followingbrewtypes/37/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/37/" class="btn button-menu">Remove as Favorite</a></div></div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/38.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Belgian trippels are lighter-bodied beers with a slight hoppy bitterness and a high alcohol content.</p>
<h2>ABV: 7.1-10.1% IBU: 20-45</h2>
<a href="/followingbrewtypes/38/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/38/" class="btn button-menu">Remove as Favorite</a></div></div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/39.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Belgian quadrupels are dark brown, full-bodied beers that exhibit flavors like brown sugar and fruit. They also have a very high alcohol content.</p>
<h2>ABV: 7.2-11.2% IBU: 25-50</h2>
<a href="/followingbrewtypes/39/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/39/" class="btn button-menu">Remove as Favorite</a></div></div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/40.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Belgian strong dark ale features a very high alcohol content with complex fruity flavors.</p>
<h2>ABV: 7.0-15.0% IBU: 20-50</h2>
<a href="/followingbrewtypes/40/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/40/" class="btn button-menu">Remove as Favorite</a></div></div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/41.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Saisons (also known as farmhouse ales) have earthy notes and a medium hop flavor.</p>
<h2>ABV: 4.4-6.8% IBU: 20-38</h2>
<a href="/followingbrewtypes/41/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/41/" class="btn button-menu">Remove as Favorite</a></div></div>

</div><hr>

<div class =brew_type_list_title_centering>
<h3>Types of Wheat Beers</h3>
</div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/42.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>American pale wheat beer is pale in color, lower in alcohol content, and with a light bready flavor.</p>
<h2>ABV: 3.5-5.6% IBU: 10-35</h2>
<a href="/followingbrewtypes/42/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/42/" class="btn button-menu">Remove as Favorite</a></div></div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/43.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Witbier gets its name from its white color, and has a light, fruity flavor to match.</p>
<h2>ABV: 4.8-5.6% IBU: 10-17</h2>
<a href="/followingbrewtypes/43/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/43/" class="btn button-menu">Remove as Favorite</a></div></div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/44.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Berliner Weisse is tart, sour beer with a pale color. Sometimes raspberry syrup is added to dull the sour taste.</p>
<h2>ABV: 2.8-3.4% IBU: 3-6</h2>
<a href="/followingbrewtypes/44/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/44/" class="btn button-menu">Remove as Favorite</a></div></div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/45.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Dunkelweizen is a darker version of a Hefeweizen. These beers have a malty flavor with hints of banana.</p>
<h2>ABV: 4.8-5.4% IBU: 10-15</h2>
<a href="/followingbrewtypes/45/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/45/" class="btn button-menu">Remove as Favorite</a></div></div>


<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/46.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Hefeweizen is a light colored wheat beer with a crisp taste that can sometimes have hints of cloves or apples.</p>
<h2>ABV: 4.9-5.6% IBU: 10-15</h2>
<a href="/followingbrewtypes/46/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/46/" class="btn button-menu">Remove as Favorite</a></div></div>

</div><hr>

<div class =brew_type_list_title_centering>
<h3>Types of Wild & Sour Ales</h3>
</div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/47.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>American sour beer packs a wild punch from certain bacteria that are introduced during the fermentation process.</p>
<h2>ABV: Varies IBU: Varies</h2>
<a href="/followingbrewtypes/47/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/47/" class="btn button-menu">Remove as Favorite</a></div></div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/48.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Belgian fruit lambics are brewed with fruit to make an intense sweet and sour flavor.</p>
<h2>ABV: 5.0-8.9% IBU: 15-21</h2>
<a href="/followingbrewtypes/48/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/48/" class="btn button-menu">Remove as Favorite</a></div></div>

<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/49.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Flanders red ale evokes a malty, fruity flavor underneath a strong sour taste brought on by Lactobacillus bacteria during fermentation.</p>
<h2>ABV: 4.8-6.6% IBU: 5-18</h2>
<a href="/followingbrewtypes/49/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/49/" class="btn button-menu">Remove as Favorite</a></div></div>


<div class=brew_type_list_spacing>
<ul><a href ='#'><img src="{% static "images/50.JPG" %}"></a></ul>
<div class=brew_type_list_paragraph_centering>
<p>Gueuzes are aged beers that give off a very strong sour flavor.</p>
<h2>ABV: 6.2-8.1% IBU: 9-23</h2>
<a href="/followingbrewtypes/50/" class="btn button-menu">Add as Favorite</a>
<a href="/unfollowingbrewtypes/50/" class="btn button-menu">Remove as Favorite</a></div></div>

</div>
<hr>
{%endif%}
{% endblock %}


