{% extends 'base.html' %}

{% block content %}
  <br />
  <div class="brewery">
    <div class="two-column">
      <h2>{{ brewery.name }}</h2>
      <h3>Address: {{ brewery.address }}</h3>
      <h3>City: {{ brewery.city }}</h3>
      <h3>State: {{ brewery.state }}</h3>
      <h3>Phone: {{ brewery.phone }}</h3>
      <h3>
        <a href="{{ brewery.website }}" target="_blank" class="custom_link">
          Website
          </a>
      </h3>
    </div>
  </div>
  <br />
  {% if brewery not in request.user.fav_breweries.all %}
    <a href="{% url 'favorite_brewery' brewery_id=brewery.id %}" class="btn button-menu">
      Add to Favorites
    </a>
  {% else %}
    <a href="{%url 'unfavorite_brewery' brewery_id=brewery.id %}" class="btn button-menu">
      Remove from Favorites
    </a>
    <br />
  {% endif %}

  <hr class="profile" />
  <br />
{% endblock %}
