{% extends 'base.html' %} {% block content %}
<br />
{% include "menu.html" %}
<br />

{% if request.user.is_authenticated %}
<h1>User Profile</h1>
{{request.user}}

<h1>Following Count: {{follow_count}}</h1>

{% include "favorite_breweries.html" %} {% include "favorite_brew_type.html" %}

<h2>Suggested Friends: {{follow_count}}</h2>

<h2>Friends Post: {{follow_count}}</h2>

{% elif request.user.is_anonymous %}
<h2>
  Welcome, please <a href="/login/">login</a> or <a href="/signup/">signup.</a>
</h2>
{% endif %} {% endblock %}


