<h1>Breweries Nearby:</h1>
{% for brewery_single in brewery %} {% if brewery_single.name %}
<h2>Name: {{brewery_single.name}}</h2>
{% endif %} {% if brewery_single.phone %}
<h3>Phone: {{brewery_single.phone}}</h3>
{% endif %} {% if brewery_single.address %}
<h3>Address: {{brewery_single.address}}</h3>
{% endif %} {% if brewery_single.city %}
<h3>City: {{brewery_single.city}}</h3>
{% endif %} {% if brewery_single.state %}
<h3>State: {{brewery_single.state}}</h3>
{% endif %} {% if brewery_single.website %}
<h3>
  Website:
  <a href="{{brewery_single.website}}" target="_blank"
    >{{brewery_single.website}}</a
  >
</h3>
{% endif %}
<br />
{% if request.user %}<a href="/" class="btn button-menu">Add as Favorite</a>
<a href="/" class="btn button-menu">Remove as Favorite</a>
<hr />
<br />
{% endif %} {% endfor %}
